@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-colour: #fff;
    --main-font: "Georgia", serif ;
}

.notfound-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('/404.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    padding-top: 40px;
}
